{% extends "base.html"%} {% block link %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% endblock %} {% block title %} Home {% endblock %} {% block content %}
<h1>Homepage</h1>
<h2>Hello, welcome to my site</h2>
<p class="story">It's just a site for python's Django tutorial</p>
<p class="story"> Hi, I'm Alex. 22 y.o. Moscow, Russia. Second year full-time student of Moscow State University of Railroad Engenering.</p>
<p class="story">Nice to meet you at my first Django web site</p>
<p class="story">Hope you enjoy it, coz I wanna job!</p>
{% endblock %}