{% extends "base.html"%} {% block link %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% endblock %} {% block title %}Hello{% endblock %} {% block content %}
<h1>Hello, world!</h1>
<p class="story"> Welcome! </p>
<p class="story"> At this project I wanna show that I can: </p>
<p class="story"> Work with python </p>
<p class="story"> Work with python's frameworks </p>
<p class="story"> Work with django </p>
<p class="story"> Work with HTML </p>
<p class="story"> Work with sheets </p>
{% endblock %}